<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head  th:include="fragments/components::components">   </head>


    <body>


        <div   th:include="fragments/header::header" ></div>

        <!--        console start-->
<section>
                               <div class="container ">
                                    <div id="demo" class="carousel slide" data-ride="carousel">

                                            <!-- Indicators -->
                                            <ul class="carousel-indicators">
                                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                                              <li data-target="#demo" data-slide-to="1"></li>
                                              <li data-target="#demo" data-slide-to="2"></li>
                                            </ul>
                                          
                                            <!-- The slideshow -->
                                            <div class="carousel-inner">
                                              <div class="carousel-item active"  style="height: 300px;">
                                                <img th:src="@{img/1.jpg}" class="d-block w-100  h-100" height="100px"  alt="Los Angeles"/>
                                              </div>
                                              <div class="carousel-item"  style="height: 300px;">
                                                <img th:src="@{img/2.jpg}"  class="d-block w-100  h-100" height="100px" alt="Chicago"/>
                                              </div>
                                              <div class="carousel-item"  style="height: 300px;">
                                                <img th:src="@{img/4.jpg}" class="d-block w-100  h-100"  height="100px" alt="New York"/>
                                              </div>
                                            </div>
                                          
                                            <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                              <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                              <span class="carousel-control-next-icon"></span>
                                            </a>
                                          
                                          </div>
            
        </div>
                   </section>


        <!--        console end-->


        <!--            library  section  for different reading catagory -->
        <section  style="height: 100%"  >
            <div  class="container">


                <h1  class="" style="text-align: center ; font-size: 36px">   ቤት ንባብ </h1>
                <div>
                    <p  style="padding-top: 50px;text-align: center">
                        ንባብ ምንጪ  ፍልጠት ስለዝኾነ ካብ ኣብዚ  ታሕቲ ተዘርዚሩ ዘሎ ኣርእስቲ ብምምራጽ ኣንብቡ ፥
                    </p>
                </div>
                <div  class="row"   >
                    <div  class="  col-md-2 "  th:each="topic:${topicList}"     style="padding-top: 10px"   >



                        <a    th:href="@{/showsub(id=${topic.id})}"   th:text="${topic.name}"  class="btn btn-outline-primary btn-lg  "  >ምረጽ</a>

                    </div>
                </div>

            </div>
        
        </section>

        <!--      end of       library  section  for different reading catagory -->
        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>




        <!--JavaScript at end of body for optimized loading-->




    </body>
</html>