<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head  th:include="fragments/components::components">   </head>


    <body>


        <div   th:include="fragments/header::header" ></div>

        <!--        console start-->
        <section>
            <div  class="cotainer  p-5"> 
               <table class="table "   >
                <thead>
                    <tr>
                       
                        <th>comment writer</th>
                        <th> post name</th>
                        <th>coment</th>
                        <th>go to Post</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="com:${comList}"> 
                        <td   th:text="${com.user.first_name}" >1</td>
                        <td th:text="${com.post.postTopic}"><h5>ሓዲስ</h5></td>
                        <td th:text="${com.content}"><h5>ሓዲስ</h5></td>
                         <td><a    th:href="@{showPostDetail(id=${com.post.id})}" >  view Post</a></td>
                 
                    </tr>
                    <!--       <td >  <a   th:href="@{/addTask(email=${user.email})}" class="waves-effect waves-light btn">Add Task</a></td>-->


                </tbody>


            </table>
            </div>
        </section>
      
        <div   th:include="fragments/footer::footer" ></div>









    </body>
</html>