<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
      <head  th:include="fragments/components::components">   </head>


    <body>
        
     
        <div   th:include="fragments/header::header" ></div>
        <!-- here starts body parts-->

            <section  style="height: 100% "  >
            <div  class="container pt-5" >
 
  

        <div  class="alert alert-info">

            <h2   class="text  text-center"> ትጽሕፎ ኣርእስቲ ኣይተወሃበካን ኣሎ ። ንኽወሃበካ ንምምሕዳር ሕወከስ ። </h2>

        </div>
 

            </div>
        
        </section>
        
       

        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>
      

    </body>
</html>