<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
     <head  th:include="fragments/components::components">   </head>


    <body>
        <div class="container">
            
 
        <div   th:include="fragments/header::header" ></div>
        <!-- here starts body parts-->
        <div class=" row justify-content-md-center">
            <div class="col-lg-6  ">
                <!-- /form user info -->



                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0" style="text-align: center"> New Post/ Edit Post</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" role="form" autocomplete="off"  th:action="@{/postsave}"   th:object="${post}"  method="POST" >
                            <!-- id -->
                            <div class="form-group row  d-none   ">
                                <label class="col-lg-3 col-form-label form-control-label">
                                    Post Id</label
                                >
                                <div class="col-lg-9">
                                    <input class="form-control " type="text" th:field="*{id}" />
                                </div>
                            </div>
<!--                                            sub topic id-->
                             <div class="form-group row  d-none   ">
                                <label class="col-lg-3 col-form-label form-control-label">
                                  sub  topic</label
                                >
                                <div class="col-lg-9">
                                    <input class="form-control " type="text" th:field="*{sub_topic.id}" />
                                </div>
                            </div>
<!--                                  post topic-->
                              <div class="form-group row ">
                                <label class="col-lg-3 col-form-label form-control-label">
                                    Post Topic</label
                                >
                                <div class="col-lg-9">
                                    <input class="form-control " type="text" th:field="*{postTopic}" />
                                </div>
                            </div>
                            
                            <!-- Description -->
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"
                                       >Post Content</label
                                >
                                <div class="col-lg-9">
                                    <textarea     name="post_content"
                                        id="post_content"
                                        
                                        required=""
                                        rows="10"
                                        cols="80"
                                        th:field="*{post_content}"
                                        > 
                                    </textarea>
                       
                                </div>
                            </div>

                            <!-- buttons -->
                            <div class="form-group row">
                                <label
                                    class="col-lg-3 col-form-label form-control-label"
                                    ></label>
                                <div class="col-lg-9">
                                    <input
                                        type="reset"
                                        class="btn btn-secondary"
                                        value="Cancel"
                                        />
                                    <input
                                        type="submit"
                                        class="btn btn-primary"
                                        value="Save Changes"
                                        />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>
        
               </div>
     
             <script>
      CKEDITOR.replace("post_content", {
      
        toolbar: [
          {
            name: "clipboard",
            items: ["PasteFromWord", "-", "Undo", "Redo"]
          },
          {
            name: "basicstyles",
            items: [
              "Bold",
              "Italic",
              "Underline",
              "Strike",
              "RemoveFormat",
              "Subscript",
              "Superscript"
            ]
          },
          {
            name: "links",
            items: ["Link", "Unlink"]
          },
          {
            name: "paragraph",
            items: [
              "NumberedList",
              "BulletedList",
              "-",
              "Outdent",
              "Indent",
              "-",
              "Blockquote"
            ]
          },
          {
            name: "insert",
            items: ["Table"]
          },
          {
            name: "editing",
            items: ["Scayt"]
          },
          "/",

          {
            name: "styles",
            items: ["Format", "Font", "FontSize"]
          },
          {
            name: "colors",
            items: ["TextColor", "BGColor", "CopyFormatting"]
          },
          {
            name: "align",
            items: [
              "JustifyLeft",
              "JustifyCenter",
              "JustifyRight",
              "JustifyBlock"
            ]
          },
          {
            name: "document",
            items: ["Print", "Source"]
          }
        ],

        // Enabling extra plugins, available in the full-all preset: https://ckeditor.com/cke4/presets
        extraPlugins:
          "colorbutton,font,justify,print,tableresize,pastefromword,liststyle",
        removeButtons: "",

        // Make the editing area bigger than default.
        height: 350,
        width: 940
      });
    </script>
    </body>
</html>