<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head  th:include="fragments/components::components">   </head>


    <body>

        <!-- here starts body parts-->

        <div   th:include="fragments/header::header" ></div>



        <section  style="height: 100% "  >
            <div  class="container pt-5" >

                <div class=" row justify-content-md-center">
                    <div class="col-lg-6  ">

                        <div class="card card-outline-secondary">
                            <div class="card-header">
                                <h3 class="mb-0" style="text-align: center">Create New Post</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form"  th:action="@{/userpost}"  th:object="${post}"  method="POST" autocomplete="off">
                                    <!-- id -->
                                    <div class="d-none">           
                                        <input   type="text"  th:field="*{user.user_id}" />  
                                    </div>
                                    <!--  end of id-->

                                    <!-- name -->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"
                                               >Topic Name</label
                                        >

                                    </div>
                                    <!-- Description -->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"
                                               >Description</label
                                        >
                                        <div class="col-lg-9">
                                            <textarea
                                                rows="6"
                                                name="message2"
                                                id="message2"
                                                class="form-control"
                                                th:field="*{post_content}"
                                                required=""

                                                ></textarea>
                                        </div>
                                    </div>

                                    <!-- buttons -->
                                    <div class="form-group row">
                                        <label
                                            class="col-lg-3 col-form-label form-control-label"
                                            ></label>
                                        <div class="col-lg-9">
                                            <input
                                                type="reset"
                                                class="btn btn-secondary"
                                                value="Cancel"
                                                />
                                            <input
                                                type="submit"
                                                class="btn btn-primary"
                                                value="Save Changes"
                                                />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>


        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>



    </body>
</html>