<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link th:href="@{webjars/bootstrap/4.1.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"
              media="screen,projection"/> 
        <link th:href="@{css/init.css}" type="text/css" rel="stylesheet"
              media="screen,projection"/>
        <!--         <link th:href="@{css/materialize.min.css}" type="text/css" rel="stylesheet"
                      media="screen,projection"/>-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>


    <body>
        <div   th:include="fragments/header::header" ></div>
        <!-- here starts body parts-->

        <div class=" row justify-content-md-center">
            <div class="col-lg-6  ">



                <!-- body start here -->
                
                 <div class="row">
        <div class="col-md-12">
            <ul id="tabsJustified" class="nav nav-tabs">
            <li class="nav-item">
              <a
                href=""
                data-target="#address"
                data-toggle="tab"
                class="nav-link small text-uppercase  active  "
                >Edit Address</a
              >
            </li>
            <li class="nav-item">
              <a
                href=""
                data-target="#password"
                data-toggle="tab"
                class="nav-link small text-uppercase "
                >Change Password</a
              >
            </li>
            <li class="nav-item">
              <a
                href=""
                data-target="#messages1"
                data-toggle="tab"
                class="nav-link small text-uppercase"
                >Messages</a
              >
            </li>
          </ul>
          <br />
          <div id="tabsJustifiedContent" class="tab-content">
            <div id="address" class="tab-pane fade  show active  ">
                              <!-- address panel  start  -->


                              <div class="card card-outline-secondary">
                                 
                                <div class="card-body">
                                    <form class="form" role="form"  th:object="${user}" th:action="@{/profile/address/save}" method="POST" autocomplete="off">
                                         <div class="form-group row  d-none">
                                            <label class="col-lg-3 col-form-label form-control-label">Id</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text"  th:field="*{user_id}" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Country</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text"  th:field="*{country}"  required=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                          <label class="col-lg-3 col-form-label form-control-label">City</label>
                                          <div class="col-lg-9">
                                              <input class="form-control" type="text"  th:field="*{town}"   required=""    />
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"    >Phone Number</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text"  th:field="*{phone_Number}"  required="" />
                                        </div>
                                    </div>
                                         

                                    <div class="form-group row">
                                      <label class="col-lg-3 col-form-label form-control-label"></label>
                                      <div class="col-lg-9">
                                          
                                          <input type="submit" class="btn btn-primary" value="Save Changes"/>
                                      </div>
                                  </div>

                                    </form>
                                </div>
                            </div>



                         <!-- address  panel  end -->
         
            </div>
            <div id="password" class="tab-pane fade  show">
               
                     <!-- pasword  panel -->
                     <div class="card card-outline-secondary">
                          <div class="card-body">
                            <form class="form" role="form"  th:object="${user}" th:action="@{/profile/password/save}" method="POST" autocomplete="off">
                                <div  class="bg">
                                    <h1>
                                        
                                    </h1>
                                </div>
                                 <div class="form-group row  d-none">
                                            <label class="col-lg-3 col-form-label form-control-label">Id</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text"  th:field="*{user_id}" />
                                            </div>
                                        </div>
                                
                                <div class="form-group">
                                    <label for="inputPasswordOld">Current Password</label>
                                    <input type="password" class="form-control" id="inputPasswordOld" required="" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">New Password</label>
                                    <input type="password" class="form-control" id="inputPasswordNew" required=""/>
                                   
                                </div>
                                <div class="form-group">
                                  
                                    <label for="inputPasswordNewVerify">Verify</label>
                                    <input type="password" class="form-control" id="inputPasswordNewVerify" required=""/>
                                   
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>

                         <!-- pasword  panel  end -->

            </div>
            <div id="messages1" class="tab-pane fade">
                  <!-- other panel -->


                         <!-- other panel  end -->



            </div>
          </div>
        </div>
      </div>



                <!-- ends here -->
                <div   th:include="fragments/footer::footer" ></div>
               

                </body>
                </html>