<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head   th:fragment="components">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link th:href="@{webjars/bootstrap/4.1.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"
              media="screen,projection"/> 
        <link th:href="@{css/init.css}" type="text/css" rel="stylesheet"
              media="screen,projection"/>

        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/ckeditor/4.4.7/full/ckeditor.js}"></script>
        <script th:src="@{js/init.js}"></script> 
       

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

    </body>
</html>